

/* ROOT */
:root{
 --top-bar-height: 40px;   
}


/*PAGE - ALL*/
*{
   margin:0;
   padding: 0;
}


/* HTML */
html
{
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    left:0;
    right:0;
    background-color: sandybrown;
}

 
 /* MAIN BODY */
.main-body
{
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    padding: 0;
    margin: 0;
    /* background-color: red;  */
}


/* BARS HOLDER */
.bars-holder
{
    /* background-color: rgb(4, 0, 255); */
    left:0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
}




/* TOPBAR */
.top-bar
{
    
    background-color: lime;
    top:0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: var(--top-bar-height);
    min-width: 100vw;
    overflow-x: auto;
    overflow-y:hidden;
}



/* MIDDLEBARS-HOLDER */
.middle-bars-holder
{
    left: 0;
    right: 0;
    display:flex;
    background-color: darkkhaki;
}



/* CONTENT BAR CENTER */
.content-bar
{
    word-wrap: break-word;
    background-color: darkcyan;
    width: 100%;
}



/* LEFTBAR */
.left-bar
{
    word-wrap: break-word;
    left:0;
    min-height: calc(100vh - var(--top-bar-height)*2);
    width: 40px;
    background-color: rgb(255, 187, 0);
    margin:0;
    padding: 0;
}





/* RIGHT */
.right-bar
{
    word-wrap: break-word;
    right:0;
    min-height: calc(100vh - var(--top-bar-height)*2);
    width: 40px;
    background-color: rgb(0, 195, 255);
}



/* BOTTOM */
.bottom-bar
{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y:hidden;
    box-sizing: border-box;
    background-color: rgb(0, 255, 191);
    bottom:0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: var(--top-bar-height);
    min-width: 100vw;
}
